* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("../images/bg.jpg");

}

#bg-1, #bg-2 {

	background: url("../images/bg.jpg");
	height: 100vh;

    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* first */

h1 {
	color: white;
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 0;
	text-align: center;
}	

/* second */

h2 {
	color: #bfbfbf;
	font-size: 18px;
	margin-top: 0;
	text-align: center;
}

/*third*/

.bio {
	color: white;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

/*fourth*/

.me {
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;	
}

/*fifth*/

.about {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 80px;	
}


#main {
	min-height: 300px;
	color: white;
}

#main h3 {
	text-align: center;
}

#main hr {
	border-color: grey;
}

#main i {
	color: white;
	font-size: 4em;
	margin-top: 20px;
	text-align: center;
	padding-bottom: 10px;

}

.proj {
	margin-top: 50px;
	margin-bottom: 10px;
	height: 30%;
	width: 30%;
	border: 1px solid white;

}

#main h5 {
	text-align: center;
	font-size: 2em;
}

#contact-header {
	margin-top: 30px;
	padding: 50px;
	text-align: center;
	max-width: 1000px;
}

#contact-form {
	margin-top: 0;
	margin-bottom: 50px;
	min-height: 650px;
}

#contact-header h2 {
	font-size: 3em;
	color: black;
}

#contact-header h4 {
	font-size: 2em;
	color: black;
}

#contact-cont {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#contact-icons {
	max-width: 50%;
	margin: 0 auto;
}

#contact-icons p {
	color: white;
}

footer p {
	padding: 0;
	margin: 0;

}